@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  transition: background-color 0.2s ease, color 0.2s ease;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}